# gradle
.gradle
build
gradle-app.setting
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar

# GMCP plugin
/minecraft

# eclipse
.settings
.metadata
.classpath
.project
bin

# intellij
out
*.idea
*.iml

/repo/
